<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- %C = class, %M = method, %L = line number -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %C.%M:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>





